.container{
    font-family: sans-serif;
}

.enterTask{
    display: flex;
    width: 400px;
    align-items: center;
    

}
.enterTask div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 30px;
    margin: 10px;
    font-size: 18px;
}

.enterTaskBox{
    width: 175px;
    height: 30px; 
    border-style: solid;
}

.enterTask button{
    background-color: #33ccff;
    color: white;
    font-size: 16px;
    border: #33ccff;
    height: 30px;
}

.taskItem{
    background-color: #33ccff;
    color: white;
    font-size: 18px;
    width: 300px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.taskItem button {
    background-color: #33ccff;
    color: white;
    font-size: 14px;
    border: none;
    margin: 10px;

}

.taskItem input {
    background: #33ccff;
    border:1px solid white ;
    margin: 10px;
   
}